<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaToolkit" version="1.1.0.1" targetFramework="net452" />
  <package id="Microsoft.VisualBasic" version="10.1.0" targetFramework="net452" />
  <package id="Nefarius-VideoLibrary" version="1.4.0" targetFramework="net452" />
  <package id="Open.NAT" version="2.1.0.0" targetFramework="net452" />
  <package id="taglib" version="2.1.0.0" targetFramework="net452" />
</packages>